/*Google fonts - Poppins*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Google fonts - Orbitron*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Variables = :root*/

:root {
    --colorBack: #272727;
    --colorFont: #f5f5f5;
    --colorHeader: #0A0A0A;
    --colorSelect: #D000DE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal; /*Aplaing poppins font in all site with "poppins thin"*/
}

/* Logo header*/

header {
    background-color: var(--colorHeader);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom:3px solid  var(--colorFont);
    padding-bottom: 10px;
}

body {
    background-color: var(--colorBack);
}
/* id(s) */

header img {
    width: 80px;
    align-items: center;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}

.header-nav-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    color: var(--colorFont);
    text-decoration: none;
}

.header-nav-a span {
    font-size: 16px;
}

.header-nav-a:hover {
    color: var(--colorSelect);
    transition: 0.5s ease;
    scale: 1.2;
}


/*main*/
#apresentation{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

#apresentation img{
    width: 75%;
    filter: grayscale(100%); /*make it the image in grayscale*/
}

#apresentation img:hover{
    filter: grayscale(0%);
    transition:all 1s ease /*make the img in normal scale color*/
}

#apresentation div{
    width: 25%;
    color: var(--colorFont);
}

#apresentation div h2{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin: 10px 0px 20px 0px;
}

#apresentation div h3{
    padding: 0px 35px 20px 35px;
    font-style: normal;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

#apresentation div p{
    margin: 0px 20px 0px 20px;
}


